<div class="row">
  <div class="col-md-8">
  	<p><%= link_to "Fase 1", fases_canvi_fase_path(fase: '1') %></p>
  	<p><%= link_to "Fase 2", fases_canvi_fase_path(fase: '2') %></p>
  	<p><%= link_to "Fase 3", fases_canvi_fase_path(fase: '3') %></p>

  	<p><%= link_to "Amagar-ho tot", fases_canvi_fase_path(fase: '0') %></p>
  </div>
</div>